# Include the README
include README.md

# Include the license file
include LICENSE.txt

include CHANGELOG
include pdfhandoutcrop.desktop
packaging-windows.bat
include icons/pdfhandoutcrop.ico
recursive-include icons pdfhandoutcrop.png
include pdfhandoutcrop/pdfhandoutcrop.pro
include pdfhandoutcrop/pdfhandoutcrop.e4p
include pdfhandoutcrop/*.ui
